<!DOCTYPE html>
<html lang="en">
	
<head>
	<title>Херь не очень лютая</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="container">
	<div class='ind'>
	<a href="{{ url_for('index') }}"><h4>Главная</h4></a>
	</div>
    {% block content %}
    {% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                App site by: <a href="https://vk.com/delniy">Delniy</a>
            </p>
        </div>
    </footer>
</body>
</html>
