{% extends "base.html" %}
{% block content %}
<h3>Главная</h3>
<div class='category1'>
	<a href=http://testsitecr.herokuapp.com/category/1>Кат1</a>
<div class='category'>
	<a class="sel1 match", href="{{ url_for('category', cat=1) }}">Раздел_1</a>
	<a class="sel2 match", href="{{ url_for('category', cat=2) }}">Раздел_2</a>
	<a class="sel1 miss", href="{{ url_for('category', cat=3) }}">Раздел_3</a>
	<a class="sel1 match", href="{{ url_for('category', cat=4) }}">Раздел_4</a>
	<a class="sel1 match", href="{{ url_for('category', cat=5) }}">Раздел_5</a>
	<a class="sel1 miss", href="http://pikabu.ru/new">Раздел_6</a>
	<a class="sel1 float", href="{{ url_for('category', cat=18) }}">Раздел_18</a>
</div>
<div class='article'>
	<a href="{{ url_for('article', art=3) }}">Статья_3</a>
	<a href="{{ url_for('article', art=7) }}">Статья_7</a>
	<a href="{{ url_for('article', art=16) }}">Статья_16</a>
	<a href="{{ url_for('article', art=24) }}">Статья_24</a>
</div>
{% endblock %}