{% extends "base.html" %}
{% block content %}
<h3>До вылета</h3>
<div class="comment">
	<script type="text/javascript">
		var now = new Date();
		var fly = new Date("March 25, 2018 20:40:00");
		var holiday = new Date("March 23, 2018 16:15:00");
		var delta, hours, min, sec;
		delta = fly - now;
		hours = Math.round( delta / 1000 / 60 / 60 );
		min = Math.round( delta / 1000 / 60 );
		sec = Math.round( delta / 1000 );
		document.write ( hours + ' часов' + /n );
		document.write ( min + ' минут' + /n );
		document.write ( sec + ' секунд' + /n );
	</script>
</div>

<h3>До отпуска</h3>
<div class="comment">
	
</div>

{% endblock %}