{% extends "base.html" %}
{% block content %}
<h3>Статья_27</h3>
    <div>
        <p class="eq0">Первый элемент</p>
    </div>
    <div class="child">
        <p class="ft-cd">Первый дочерний элемент</p>
        <p class="sd-cd">Второй дочерний элемент</p>
        <p class="ls-cd">Второй c конца элемент</p>
        <p class="lt-cd">Последний дочерний элемент</p>
    </div>
    <div class="cont">Выбор по содержанию элемента</div>
    <div class="cont">Без этого</div>
    <div class="not">
        <p class="not">и без этого</p>
        <p>но с этим</p>
    </div>
    <div class="exclude">
        Текст должен попасть но без p
        <p>-р который не попал-</p>
    </div>
    <div class="parrent">
        <p class="parrent">этот</p>
        <p>и этот тут</p>
    </div>
    <div class="next">
        <p class="next">Следущий попадает:</p>
        <p>Я тут</p>
        <p>а я?</p>
    </div>
{% endblock %}