{% extends "base.html" %}
{% block content %}
<h3>Статья_5</h3>

<div class="com"  id=0>
<p>test0</p>
<div class="com"  id=1>
<p>text1</p>
</div>
</div>
<div class="com"  id=2>
<p>test2</p>
<div class="com"  id=3>
<p>text3</p>
</div>
</div>
<div class="com"  id=4>
<p>test4</p>
<div class="com"  id=5>
<p>text5</p>
</div>
</div>
<div class="com"  id=6>
<p>test6</p>
<div class="com"  id=7>
<p>text7</p>
</div>
</div>
<div class="com"  id=8>
<p>test8</p>
<div class="com"  id=9>
<p>text9</p>
</div>
</div>
<div class="com"  id=10>
<p>test10</p>
<div class="com"  id=11>
<p>text11</p>
</div>
</div>
<div class="com"  id=12>
<p>test12</p>
<div class="com"  id=13>
<p>text13</p>
</div>
</div>
<div class="com"  id=14>
<p>test14</p>
<div class="com"  id=15>
<p>text15</p>
</div>
</div>
<div class="com"  id=16>
<p>test16</p>
<div class="com"  id=17>
<p>text17</p>
</div>
</div>
<div class="com"  id=18>
<p>test18</p>
<div class="com"  id=19>
<p>text19</p>
</div>
</div>
<div class="com"  id=20>
<p>test20</p>
<div class="com"  id=21>
<p>text21</p>
</div>
</div>
<div class="com"  id=22>
<p>test22</p>
<div class="com"  id=23>
<p>text23</p>
</div>
</div>
<div class="com"  id=24>
<p>test24</p>
<div class="com"  id=25>
<p>text25</p>
</div>
</div>
<div class="com"  id=26>
<p>test26</p>
<div class="com"  id=27>
<p>text27</p>
</div>
</div>
<div class="com"  id=28>
<p>test28</p>
<div class="com"  id=29>
<p>text29</p>
</div>
</div>
<div class="com"  id=30>
<p>test30</p>
<div class="com"  id=31>
<p>text31</p>
</div>
</div>
<div class="com"  id=32>
<p>test32</p>
<div class="com"  id=33>
<p>text33</p>
</div>
</div>
<div class="com"  id=34>
<p>test34</p>
<div class="com"  id=35>
<p>text35</p>
</div>
</div>
<div class="com"  id=36>
<p>test36</p>
<div class="com"  id=37>
<p>text37</p>
</div>
</div>
<div class="com"  id=38>
<p>test38</p>
<div class="com"  id=39>
<p>text39</p>
</div>
</div>
<div class="com"  id=40>
<p>test40</p>
<div class="com"  id=41>
<p>text41</p>
</div>
</div>
<div class="com"  id=42>
<p>test42</p>
<div class="com"  id=43>
<p>text43</p>
</div>
</div>
<div class="com"  id=44>
<p>test44</p>
<div class="com"  id=45>
<p>text45</p>
</div>
</div>
<div class="com"  id=46>
<p>test46</p>
<div class="com"  id=47>
<p>text47</p>
</div>
</div>
<div class="com"  id=48>
<p>test48</p>
<div class="com"  id=49>
<p>text49</p>
</div>
</div>
<div class="com"  id=50>
<p>test50</p>
<div class="com"  id=51>
<p>text51</p>
</div>
</div>
<div class="com"  id=52>
<p>test52</p>
<div class="com"  id=53>
<p>text53</p>
</div>
</div>
<div class="com"  id=54>
<p>test54</p>
<div class="com"  id=55>
<p>text55</p>
</div>
</div>
<div class="com"  id=56>
<p>test56</p>
<div class="com"  id=57>
<p>text57</p>
</div>
</div>
<div class="com"  id=58>
<p>test58</p>
<div class="com"  id=59>
<p>text59</p>
</div>
</div>
<div class="com"  id=60>
<p>test60</p>
<div class="com"  id=61>
<p>text61</p>
</div>
</div>
<div class="com"  id=62>
<p>test62</p>
<div class="com"  id=63>
<p>text63</p>
</div>
</div>
<div class="com"  id=64>
<p>test64</p>
<div class="com"  id=65>
<p>text65</p>
</div>
</div>
<div class="com"  id=66>
<p>test66</p>
<div class="com"  id=67>
<p>text67</p>
</div>
</div>
<div class="com"  id=68>
<p>test68</p>
<div class="com"  id=69>
<p>text69</p>
</div>
</div>
<div class="com"  id=70>
<p>test70</p>
<div class="com"  id=71>
<p>text71</p>
</div>
</div>
<div class="com"  id=72>
<p>test72</p>
<div class="com"  id=73>
<p>text73</p>
</div>
</div>
<div class="com"  id=74>
<p>test74</p>
<div class="com"  id=75>
<p>text75</p>
</div>
</div>
<div class="com"  id=76>
<p>test76</p>
<div class="com"  id=77>
<p>text77</p>
</div>
</div>
<div class="com"  id=78>
<p>test78</p>
<div class="com"  id=79>
<p>text79</p>
</div>
</div>
<div class="com"  id=80>
<p>test80</p>
<div class="com"  id=81>
<p>text81</p>
</div>
</div>
<div class="com"  id=82>
<p>test82</p>
<div class="com"  id=83>
<p>text83</p>
</div>
</div>
<div class="com"  id=84>
<p>test84</p>
<div class="com"  id=85>
<p>text85</p>
</div>
</div>
<div class="com"  id=86>
<p>test86</p>
<div class="com"  id=87>
<p>text87</p>
</div>
</div>
<div class="com"  id=88>
<p>test88</p>
<div class="com"  id=89>
<p>text89</p>
</div>
</div>
<div class="com"  id=90>
<p>test90</p>
<div class="com"  id=91>
<p>text91</p>
</div>
</div>
<div class="com"  id=92>
<p>test92</p>
<div class="com"  id=93>
<p>text93</p>
</div>
</div>
<div class="com"  id=94>
<p>test94</p>
<div class="com"  id=95>
<p>text95</p>
</div>
</div>
<div class="com"  id=96>
<p>test96</p>
<div class="com"  id=97>
<p>text97</p>
</div>
</div>
<div class="com"  id=98>
<p>test98</p>
<div class="com"  id=99>
<p>text99</p>
</div>
</div>
<div class="com"  id=100>
<p>test100</p>
<div class="com"  id=101>
<p>text101</p>
</div>
</div>
<div class="com"  id=102>
<p>test102</p>
<div class="com"  id=103>
<p>text103</p>
</div>
</div>
<div class="com"  id=104>
<p>test104</p>
<div class="com"  id=105>
<p>text105</p>
</div>
</div>
<div class="com"  id=106>
<p>test106</p>
<div class="com"  id=107>
<p>text107</p>
</div>
</div>
<div class="com"  id=108>
<p>test108</p>
<div class="com"  id=109>
<p>text109</p>
</div>
</div>
<div class="com"  id=110>
<p>test110</p>
<div class="com"  id=111>
<p>text111</p>
</div>
</div>
<div class="com"  id=112>
<p>test112</p>
<div class="com"  id=113>
<p>text113</p>
</div>
</div>
<div class="com"  id=114>
<p>test114</p>
<div class="com"  id=115>
<p>text115</p>
</div>
</div>
<div class="com"  id=116>
<p>test116</p>
<div class="com"  id=117>
<p>text117</p>
</div>
</div>
<div class="com"  id=118>
<p>test118</p>
<div class="com"  id=119>
<p>text119</p>
</div>
</div>
<div class="com"  id=120>
<p>test120</p>
<div class="com"  id=121>
<p>text121</p>
</div>
</div>
<div class="com"  id=122>
<p>test122</p>
<div class="com"  id=123>
<p>text123</p>
</div>
</div>
<div class="com"  id=124>
<p>test124</p>
<div class="com"  id=125>
<p>text125</p>
</div>
</div>
<div class="com"  id=126>
<p>test126</p>
<div class="com"  id=127>
<p>text127</p>
</div>
</div>
<div class="com"  id=128>
<p>test128</p>
<div class="com"  id=129>
<p>text129</p>
</div>
</div>
<div class="com"  id=130>
<p>test130</p>
<div class="com"  id=131>
<p>text131</p>
</div>
</div>
<div class="com"  id=132>
<p>test132</p>
<div class="com"  id=133>
<p>text133</p>
</div>
</div>
<div class="com"  id=134>
<p>test134</p>
<div class="com"  id=135>
<p>text135</p>
</div>
</div>
<div class="com"  id=136>
<p>test136</p>
<div class="com"  id=137>
<p>text137</p>
</div>
</div>
<div class="com"  id=138>
<p>test138</p>
<div class="com"  id=139>
<p>text139</p>
</div>
</div>
<div class="com"  id=140>
<p>test140</p>
<div class="com"  id=141>
<p>text141</p>
</div>
</div>
<div class="com"  id=142>
<p>test142</p>
<div class="com"  id=143>
<p>text143</p>
</div>
</div>
<div class="com"  id=144>
<p>test144</p>
<div class="com"  id=145>
<p>text145</p>
</div>
</div>
<div class="com"  id=146>
<p>test146</p>
<div class="com"  id=147>
<p>text147</p>
</div>
</div>
<div class="com"  id=148>
<p>test148</p>
<div class="com"  id=149>
<p>text149</p>
</div>
</div>
<div class="com"  id=150>
<p>test150</p>
<div class="com"  id=151>
<p>text151</p>
</div>
</div>
<div class="com"  id=152>
<p>test152</p>
<div class="com"  id=153>
<p>text153</p>
</div>
</div>
<div class="com"  id=154>
<p>test154</p>
<div class="com"  id=155>
<p>text155</p>
</div>
</div>
<div class="com"  id=156>
<p>test156</p>
<div class="com"  id=157>
<p>text157</p>
</div>
</div>
<div class="com"  id=158>
<p>test158</p>
<div class="com"  id=159>
<p>text159</p>
</div>
</div>
<div class="com"  id=160>
<p>test160</p>
<div class="com"  id=161>
<p>text161</p>
</div>
</div>
<div class="com"  id=162>
<p>test162</p>
<div class="com"  id=163>
<p>text163</p>
</div>
</div>
<div class="com"  id=164>
<p>test164</p>
<div class="com"  id=165>
<p>text165</p>
</div>
</div>
<div class="com"  id=166>
<p>test166</p>
<div class="com"  id=167>
<p>text167</p>
</div>
</div>
<div class="com"  id=168>
<p>test168</p>
<div class="com"  id=169>
<p>text169</p>
</div>
</div>
<div class="com"  id=170>
<p>test170</p>
<div class="com"  id=171>
<p>text171</p>
</div>
</div>
<div class="com"  id=172>
<p>test172</p>
<div class="com"  id=173>
<p>text173</p>
</div>
</div>
<div class="com"  id=174>
<p>test174</p>
<div class="com"  id=175>
<p>text175</p>
</div>
</div>
<div class="com"  id=176>
<p>test176</p>
<div class="com"  id=177>
<p>text177</p>
</div>
</div>
<div class="com"  id=178>
<p>test178</p>
<div class="com"  id=179>
<p>text179</p>
</div>
</div>
<div class="com"  id=180>
<p>test180</p>
<div class="com"  id=181>
<p>text181</p>
</div>
</div>
<div class="com"  id=182>
<p>test182</p>
<div class="com"  id=183>
<p>text183</p>
</div>
</div>
<div class="com"  id=184>
<p>test184</p>
<div class="com"  id=185>
<p>text185</p>
</div>
</div>
<div class="com"  id=186>
<p>test186</p>
<div class="com"  id=187>
<p>text187</p>
</div>
</div>
<div class="com"  id=188>
<p>test188</p>
<div class="com"  id=189>
<p>text189</p>
</div>
</div>
<div class="com"  id=190>
<p>test190</p>
<div class="com"  id=191>
<p>text191</p>
</div>
</div>
<div class="com"  id=192>
<p>test192</p>
<div class="com"  id=193>
<p>text193</p>
</div>
</div>
<div class="com"  id=194>
<p>test194</p>
<div class="com"  id=195>
<p>text195</p>
</div>
</div>
<div class="com"  id=196>
<p>test196</p>
<div class="com"  id=197>
<p>text197</p>
</div>
</div>
<div class="com"  id=198>
<p>test198</p>
<div class="com"  id=199>
<p>text199</p>
</div>
</div>
<div class="com"  id=200>
<p>test200</p>
<div class="com"  id=201>
<p>text201</p>
</div>
</div>
<div class="com"  id=202>
<p>test202</p>
<div class="com"  id=203>
<p>text203</p>
</div>
</div>
<div class="com"  id=204>
<p>test204</p>
<div class="com"  id=205>
<p>text205</p>
</div>
</div>
<div class="com"  id=206>
<p>test206</p>
<div class="com"  id=207>
<p>text207</p>
</div>
</div>
<div class="com"  id=208>
<p>test208</p>
<div class="com"  id=209>
<p>text209</p>
</div>
</div>
<div class="com"  id=210>
<p>test210</p>
<div class="com"  id=211>
<p>text211</p>
</div>
</div>
<div class="com"  id=212>
<p>test212</p>
<div class="com"  id=213>
<p>text213</p>
</div>
</div>
<div class="com"  id=214>
<p>test214</p>
<div class="com"  id=215>
<p>text215</p>
</div>
</div>
<div class="com"  id=216>
<p>test216</p>
<div class="com"  id=217>
<p>text217</p>
</div>
</div>
<div class="com"  id=218>
<p>test218</p>
<div class="com"  id=219>
<p>text219</p>
</div>
</div>
<div class="com"  id=220>
<p>test220</p>
<div class="com"  id=221>
<p>text221</p>
</div>
</div>
<div class="com"  id=222>
<p>test222</p>
<div class="com"  id=223>
<p>text223</p>
</div>
</div>
<div class="com"  id=224>
<p>test224</p>
<div class="com"  id=225>
<p>text225</p>
</div>
</div>
<div class="com"  id=226>
<p>test226</p>
<div class="com"  id=227>
<p>text227</p>
</div>
</div>
<div class="com"  id=228>
<p>test228</p>
<div class="com"  id=229>
<p>text229</p>
</div>
</div>
<div class="com"  id=230>
<p>test230</p>
<div class="com"  id=231>
<p>text231</p>
</div>
</div>
<div class="com"  id=232>
<p>test232</p>
<div class="com"  id=233>
<p>text233</p>
</div>
</div>
<div class="com"  id=234>
<p>test234</p>
<div class="com"  id=235>
<p>text235</p>
</div>
</div>
<div class="com"  id=236>
<p>test236</p>
<div class="com"  id=237>
<p>text237</p>
</div>
</div>
<div class="com"  id=238>
<p>test238</p>
<div class="com"  id=239>
<p>text239</p>
</div>
</div>
<div class="com"  id=240>
<p>test240</p>
<div class="com"  id=241>
<p>text241</p>
</div>
</div>
<div class="com"  id=242>
<p>test242</p>
<div class="com"  id=243>
<p>text243</p>
</div>
</div>
<div class="com"  id=244>
<p>test244</p>
<div class="com"  id=245>
<p>text245</p>
</div>
</div>
<div class="com"  id=246>
<p>test246</p>
<div class="com"  id=247>
<p>text247</p>
</div>
</div>
<div class="com"  id=248>
<p>test248</p>
<div class="com"  id=249>
<p>text249</p>
</div>
</div>
<div class="com"  id=250>
<p>test250</p>
<div class="com"  id=251>
<p>text251</p>
</div>
</div>
<div class="com"  id=252>
<p>test252</p>
<div class="com"  id=253>
<p>text253</p>
</div>
</div>
<div class="com"  id=254>
<p>test254</p>
<div class="com"  id=255>
<p>text255</p>
</div>
</div>
<div class="com"  id=256>
<p>test256</p>
<div class="com"  id=257>
<p>text257</p>
</div>
</div>
<div class="com"  id=258>
<p>test258</p>
<div class="com"  id=259>
<p>text259</p>
</div>
</div>
<div class="com"  id=260>
<p>test260</p>
<div class="com"  id=261>
<p>text261</p>
</div>
</div>
<div class="com"  id=262>
<p>test262</p>
<div class="com"  id=263>
<p>text263</p>
</div>
</div>
<div class="com"  id=264>
<p>test264</p>
<div class="com"  id=265>
<p>text265</p>
</div>
</div>
<div class="com"  id=266>
<p>test266</p>
<div class="com"  id=267>
<p>text267</p>
</div>
</div>
<div class="com"  id=268>
<p>test268</p>
<div class="com"  id=269>
<p>text269</p>
</div>
</div>
<div class="com"  id=270>
<p>test270</p>
<div class="com"  id=271>
<p>text271</p>
</div>
</div>
<div class="com"  id=272>
<p>test272</p>
<div class="com"  id=273>
<p>text273</p>
</div>
</div>
<div class="com"  id=274>
<p>test274</p>
<div class="com"  id=275>
<p>text275</p>
</div>
</div>
<div class="com"  id=276>
<p>test276</p>
<div class="com"  id=277>
<p>text277</p>
</div>
</div>
<div class="com"  id=278>
<p>test278</p>
<div class="com"  id=279>
<p>text279</p>
</div>
</div>
<div class="com"  id=280>
<p>test280</p>
<div class="com"  id=281>
<p>text281</p>
</div>
</div>
<div class="com"  id=282>
<p>test282</p>
<div class="com"  id=283>
<p>text283</p>
</div>
</div>
<div class="com"  id=284>
<p>test284</p>
<div class="com"  id=285>
<p>text285</p>
</div>
</div>
<div class="com"  id=286>
<p>test286</p>
<div class="com"  id=287>
<p>text287</p>
</div>
</div>
<div class="com"  id=288>
<p>test288</p>
<div class="com"  id=289>
<p>text289</p>
</div>
</div>
<div class="com"  id=290>
<p>test290</p>
<div class="com"  id=291>
<p>text291</p>
</div>
</div>
<div class="com"  id=292>
<p>test292</p>
<div class="com"  id=293>
<p>text293</p>
</div>
</div>
<div class="com"  id=294>
<p>test294</p>
<div class="com"  id=295>
<p>text295</p>
</div>
</div>
<div class="com"  id=296>
<p>test296</p>
<div class="com"  id=297>
<p>text297</p>
</div>
</div>
<div class="com"  id=298>
<p>test298</p>
<div class="com"  id=299>
<p>text299</p>
</div>
</div>
<div class="com"  id=300>
<p>test300</p>
<div class="com"  id=301>
<p>text301</p>
</div>
</div>
<div class="com"  id=302>
<p>test302</p>
<div class="com"  id=303>
<p>text303</p>
</div>
</div>
<div class="com"  id=304>
<p>test304</p>
<div class="com"  id=305>
<p>text305</p>
</div>
</div>
<div class="com"  id=306>
<p>test306</p>
<div class="com"  id=307>
<p>text307</p>
</div>
</div>
<div class="com"  id=308>
<p>test308</p>
<div class="com"  id=309>
<p>text309</p>
</div>
</div>
<div class="com"  id=310>
<p>test310</p>
<div class="com"  id=311>
<p>text311</p>
</div>
</div>
<div class="com"  id=312>
<p>test312</p>
<div class="com"  id=313>
<p>text313</p>
</div>
</div>
<div class="com"  id=314>
<p>test314</p>
<div class="com"  id=315>
<p>text315</p>
</div>
</div>
<div class="com"  id=316>
<p>test316</p>
<div class="com"  id=317>
<p>text317</p>
</div>
</div>
<div class="com"  id=318>
<p>test318</p>
<div class="com"  id=319>
<p>text319</p>
</div>
</div>
<div class="com"  id=320>
<p>test320</p>
<div class="com"  id=321>
<p>text321</p>
</div>
</div>
<div class="com"  id=322>
<p>test322</p>
<div class="com"  id=323>
<p>text323</p>
</div>
</div>
<div class="com"  id=324>
<p>test324</p>
<div class="com"  id=325>
<p>text325</p>
</div>
</div>
<div class="com"  id=326>
<p>test326</p>
<div class="com"  id=327>
<p>text327</p>
</div>
</div>
<div class="com"  id=328>
<p>test328</p>
<div class="com"  id=329>
<p>text329</p>
</div>
</div>
<div class="com"  id=330>
<p>test330</p>
<div class="com"  id=331>
<p>text331</p>
</div>
</div>
<div class="com"  id=332>
<p>test332</p>
<div class="com"  id=333>
<p>text333</p>
</div>
</div>
<div class="com"  id=334>
<p>test334</p>
<div class="com"  id=335>
<p>text335</p>
</div>
</div>
<div class="com"  id=336>
<p>test336</p>
<div class="com"  id=337>
<p>text337</p>
</div>
</div>
<div class="com"  id=338>
<p>test338</p>
<div class="com"  id=339>
<p>text339</p>
</div>
</div>
<div class="com"  id=340>
<p>test340</p>
<div class="com"  id=341>
<p>text341</p>
</div>
</div>
<div class="com"  id=342>
<p>test342</p>
<div class="com"  id=343>
<p>text343</p>
</div>
</div>
<div class="com"  id=344>
<p>test344</p>
<div class="com"  id=345>
<p>text345</p>
</div>
</div>
<div class="com"  id=346>
<p>test346</p>
<div class="com"  id=347>
<p>text347</p>
</div>
</div>
<div class="com"  id=348>
<p>test348</p>
<div class="com"  id=349>
<p>text349</p>
</div>
</div>
<div class="com"  id=350>
<p>test350</p>
<div class="com"  id=351>
<p>text351</p>
</div>
</div>
<div class="com"  id=352>
<p>test352</p>
<div class="com"  id=353>
<p>text353</p>
</div>
</div>
<div class="com"  id=354>
<p>test354</p>
<div class="com"  id=355>
<p>text355</p>
</div>
</div>
<div class="com"  id=356>
<p>test356</p>
<div class="com"  id=357>
<p>text357</p>
</div>
</div>
<div class="com"  id=358>
<p>test358</p>
<div class="com"  id=359>
<p>text359</p>
</div>
</div>
<div class="com"  id=360>
<p>test360</p>
<div class="com"  id=361>
<p>text361</p>
</div>
</div>
<div class="com"  id=362>
<p>test362</p>
<div class="com"  id=363>
<p>text363</p>
</div>
</div>
<div class="com"  id=364>
<p>test364</p>
<div class="com"  id=365>
<p>text365</p>
</div>
</div>
<div class="com"  id=366>
<p>test366</p>
<div class="com"  id=367>
<p>text367</p>
</div>
</div>
<div class="com"  id=368>
<p>test368</p>
<div class="com"  id=369>
<p>text369</p>
</div>
</div>
<div class="com"  id=370>
<p>test370</p>
<div class="com"  id=371>
<p>text371</p>
</div>
</div>
<div class="com"  id=372>
<p>test372</p>
<div class="com"  id=373>
<p>text373</p>
</div>
</div>
<div class="com"  id=374>
<p>test374</p>
<div class="com"  id=375>
<p>text375</p>
</div>
</div>
<div class="com"  id=376>
<p>test376</p>
<div class="com"  id=377>
<p>text377</p>
</div>
</div>
<div class="com"  id=378>
<p>test378</p>
<div class="com"  id=379>
<p>text379</p>
</div>
</div>
<div class="com"  id=380>
<p>test380</p>
<div class="com"  id=381>
<p>text381</p>
</div>
</div>
<div class="com"  id=382>
<p>test382</p>
<div class="com"  id=383>
<p>text383</p>
</div>
</div>
<div class="com"  id=384>
<p>test384</p>
<div class="com"  id=385>
<p>text385</p>
</div>
</div>
<div class="com"  id=386>
<p>test386</p>
<div class="com"  id=387>
<p>text387</p>
</div>
</div>
<div class="com"  id=388>
<p>test388</p>
<div class="com"  id=389>
<p>text389</p>
</div>
</div>
<div class="com"  id=390>
<p>test390</p>
<div class="com"  id=391>
<p>text391</p>
</div>
</div>
<div class="com"  id=392>
<p>test392</p>
<div class="com"  id=393>
<p>text393</p>
</div>
</div>
<div class="com"  id=394>
<p>test394</p>
<div class="com"  id=395>
<p>text395</p>
</div>
</div>
<div class="com"  id=396>
<p>test396</p>
<div class="com"  id=397>
<p>text397</p>
</div>
</div>
<div class="com"  id=398>
<p>test398</p>
<div class="com"  id=399>
<p>text399</p>
</div>
</div>




{% endblock %}